@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

#closeBarButton {
    -fx-background-color: #d9cab3;
    -fx-background-radius: 6 6 6 6;
    -fx-border-radius: 6 6 6 6;
}
#closeBarLabel {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 700;
    -fx-font-size: 20px;
    -fx-text-fill: #736c61;
}
#xBarLabel {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 700;
    -fx-font-size: 20px;
    -fx-text-fill: #736c61;
}
#resultsBar {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 700;
    -fx-font-size: 25px;
    -fx-text-fill: #736c61;
}

#barPane1,#barPane2,#barPane3,#barPane4,#barPane5,#barPane6 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#barName1,#barName2,#barName3,#barName4,#barName5,#barName6 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#barType1,#barType2,#barType3,#barType4,#barType5,#barType6 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#barRate1,#barRate2,#barRate3,#barRate4,#barRate5,#barRate6 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#barStatus1,#barStatus2,#barStatus3,#barStatus4,#barStatus5,#barStatus6 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#barImage1,#barImage2,#barImage3,#barImage4,#barImage5,#barImage6 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}