@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

#closeCafeButton {
    -fx-background-color: #d9cab3;
    -fx-background-radius: 6 6 6 6;
    -fx-border-radius: 6 6 6 6;
}
#closeCafeLabel {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 700;
    -fx-font-size: 20px;
    -fx-text-fill: #736c61;
}
#xCafeLabel {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 700;
    -fx-font-size: 20px;
    -fx-text-fill: #736c61;
}
#resultsCafe {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 700;
    -fx-font-size: 25px;
    -fx-text-fill: #736c61;
}

#cafePane1 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName1 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType1 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate1 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus1 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage1 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}

#cafePane2 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName2 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType2 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate2 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus2 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage2 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}

#cafePane3 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName3 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType3 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate3 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus3 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage3 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}
#cafePane4 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName4 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType4 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate4 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus4 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage4 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}
#cafePane5 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName5 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType5 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate5 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus5 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage5 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}
#cafePane6 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName6 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType6 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate6 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus6 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage6 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}
#cafePane7 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName7 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType7 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate7 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus7 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage7 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}
#cafePane8 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName8 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType8 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate8 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus8 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage8 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}
#cafePane9 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName9 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType9 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate9 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus9 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage9 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}
#cafePane10 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName10 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType10 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate10 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus10 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage10 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}
#cafePane11 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName11 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType11 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate11 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus11 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage11 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}
#cafePane12 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName12 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType12 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate12 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus12 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage12 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}
#cafePane13 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName13 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType13 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate13 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus13 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage13 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}
#cafePane14 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName14 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType14 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate14 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus14 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage14 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}
#cafePane15 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName15 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType15 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate15 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus15 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage15 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}
#cafePane16 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName16 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType16 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate16 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus16 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage16 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}
#cafePane17 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName17 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType17 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate17 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus17 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage17 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}
#cafePane18 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName18 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType18 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate18 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus18 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage18 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}
#cafePane19 {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
    -fx-background-radius: 8 8 8 8;
    -fx-border-radius: 8 8 8 8;
}
#cafeName19 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}
#cafeType19 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeRate19 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 15px;
    -fx-text-fill: #0ed598;
}
#cafeStatus19 {
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 15px;
}
#cafeImage19 {
    -fx-background-color: transparent;
    -fx-foreground-color: transparent;
}