#loginPanel
{
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
}
#loginAp
{
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
}
#loginButton
{
    -fx-background-radius: 18 18 18 18;
    -fx-background-color: #29abe2;
    -fx-border: none;
    -fx-text-fill: white;
    -fx-padding: 15px 32px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 16px;

}

.loginLabel
{
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 900;
    -fx-font-size: 15px;
    -fx-text-fill: #252525;

}