
.primary-color {
    -fx-background-color: #202124;
}

.round-border {
    -fx-background-radius: 100;
}


#welcomebg,#homeACPain{
    -fx-background-color: #202124;
}

#descriptionLabel,#categoryLabel,#welcomeToLabel,#appLabel,#registerLabel,#categoriesLabel,#recLabel{
    -fx-text-fill: white;
}
