#mainProfilePane
{
    -fx-background-color: white;
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0);
}

#map
{
    /* -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0.0, 0.0); */

}

#nameProfileLabel
{
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 800;
    -fx-font-size: 20px;
}

#bulletProfileLabel
{
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 16px;
}

#typeProfileLabel
{
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 200;
    -fx-font-size: 16px;
}
#galleryLabel
{
    -fx-font-family: 'Barlow Condensed', sans-serif;
    -fx-font-weight: 700;
    -fx-font-size: 30px;
}